body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(images/pawsUp.png);
    background-size: cover;
    background-repeat: no-repeat;
}

ul {
    width: 103px;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    padding: 1px;
    margin: 0;
}

.button {
    box-shadow: 0 1px #9D9D9D;
    outline: none;
    border-radius: 15px;
    font-size: small;
    border: none;
    width: 110px;
    background-color:black;
    color: white;
    text-align: left;
    text-decoration: none;
}

.button:hover {
    background-color: #D861A8;
}

.button:active {
    transform: translateY(2px);
    box-shadow: 0 0 #9D9D9D;
    background-color: #9D9D9D; 
}

#button1 {
    background-color: #81CA3F;

}

#button2 {
    background-color: #149FEB;
}

#button3 {
    background-color: #FDB40A;
}

#button4 {
    background-color: #6C6E03;
}

#button5 {
    background-color: #000000;
}

#button6 {
    background-color: #16A53E;
}

#button7 {
    background-color: black;
}

#button8 {
    background-color: #B00004;
}

#button9 {
    background-color: #5B198F;
}

#button10 {
    background-color: #149FEB;
}

#button11 {
    background-color: #01154D;
}

#button12 {
    background-color: #5B198F;
}

#clicks {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
    color: black;
    text-shadow: 0 1px #158466;
}